<!-- Calls the header in layouts -->
<div class="wrapper">
<%= render 'shared/navbar' %>

<div class="container body">

    <section id="section1" class="home">
        <%= render 'shared/banner' %>
    </section>
