<!-- Calls the header in layouts -->
<div class="wrapper">
<%= render 'shared/navbar' %>

<div class="container body">

    <section id="section1" class="home">
        <%= render 'shared/banner' %>
    </section>

    <section id="section2" class="about">
      <%= render 'shared/content' %>
      </section>

    <section id="section3" class="card-team">
    </section>

    <section id="section4" class="footer">
      <%= render 'shared/footer' %>
    </section>

</div>

</div>
