<section class="navbar">
  <ul>
    <li><a href="#">WHAT</a></li>
    <li><a href="#">WHY</a></li>
    <li><a href="#">WHO</a></li>
    <li id="center-title-navbar"><a href="#">Just2Train</a></li>
    <li><a href="#">CONTACT US</a></li>
    <li><a href="#">LOGGIN</a></li>
    <li><a href="#">SIGN UP</a></li>
  </ul>
</section>
