<!-- On ferme le container (prédéfini dans bootstrap cad la page) car la banière doit être en dehors de ce container pour s'appliquer sur toute la page -->
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Envie d'un nouveau défi ?</h1>
    <p class="lead">Apprenez à coder en 3 mois, gratuitement.</p>
    <a class="btn btn-primary" href="/users/sign_up" role="button">Join Us</a>
    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=d8jf6F8Qnfg" role="button">About</a>
  </div>
</div>
