
    <div class="text-cover-banner">
      <h1 >Just2Train.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <div class="button-container">
          <a href="#" class="btn btn-lg btn-secondary">Join Us</a>
          <a href="#" class="btn btn-lg btn-secondary">About</a>
        </div>
    </div>
