<!-- On ferme le container (prédéfini dans bootstrap cad la page) car la banière doit être en dehors de ce container pour s'appliquer sur toute la page -->
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Just2Train&nbsp;</h1>
    <p class="lead">Connecting people, sporting together.</p>
    <%= link_to "Join Us", new_user_registration_path, class: "btn btn-primary" %>
    <a class="btn btn-primary" href="#section5" role="button">About</a>
  </div>
</div>
