<div class="small-banner jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ABOUT JUST2TRAIN&nbsp;</h1>
    <p class="lead">Connecting people, sporting together.</p>
    </div>
</div>

<!-- Content -->
  <div class="container">
  <div class="intro">

  	<h2>About us&nbsp;</h2>

  	<div class="container-intro">

  	  <div class="illustration">

  		<%= image_tag("j2t-about.jpg") %>

  	</div>

  	<div class="content">
  		<h3>Quisque quis dapibus magna</h3>
  			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Duis et magna leo. Quisque quis dapibus magna.
          Nunc id nulla id leo condimentum vehicula. Aliquam sollicitudin erat aliquet ligula tempus finibus. Aliquam erat volutpat. Aliquam erat volutpat.
          Nullam pellentesque cursus venenatis. Quisque posuere scelerisque ex.
          Ut vehicula sed dui sit amet interdum. Donec commodo gravida sem, eget sodales nunc. </p>


  		<h3>Nunc id nulla id leo</h3>
  			<p>Aenean pharetra, turpis non sagittis interdum, nunc elit tincidunt nunc,
          quis sodales augue felis ut nunc. Ut facilisis lectus lectus,
          sit amet efficitur nulla sagittis id. Fusce non ligula et ante auctor congue eget a odio.
          Integer venenatis dui felis, vel tempus felis semper at. Vivamus dolor orci, rhoncus in enim vitae, varius feugiat magna. Etiam aliquam nibh et dictum venenatis. Vivamus enim ante, luctus quis gravida pretium, luctus tempus enim. Aliquam eget interdum leo.</p>

  	</div>


  </div>

  </div>
  </div>
