<footer>
  <div class="footer-left">
    <p>Jut2Train</p>
    <p>About Just2Train</p>
    <P>Contact Us</p>
    <p>Join Us</p>
  </div>
  <div class="footer-right">
    <p>All right reserved</p>
  </div>
</footer>
