<footer class="container footer">
  <div class="footer-left">
    <p>Projet réalisé par les mous' de Lyon</p>
  </div>
  </div class="footer-right">
    <ul class="social-items">
      <li>
        <a href="https://www.facebook.com/thehackingproject/" class="fa fa-facebook"></a>
      </li>
      <li>
        <a href="https://mobile.twitter.com/the_hacking_pro" class="fa fa-twitter"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/the_hacking_project/" class="fa fa-instagram"></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/school/the_hacking_project/" class="fa fa-linkedin"></a>
      </li>
    </ul>
  </div>
</footer>
