<nav id ="navbar" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><%= image_tag 'j2t-logo-white.png' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#section2">Comment ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">Quoi ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section4">Témoignages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section5">Newsletter</a>
      </li>
      </li>
    </ul>
  </div>
</nav>
