<!-- Preview <images></images> -->
<div class="preview-container">
    <div class="preview-grid">
        <div class="header">
            <h1>A Tight-Knit Sport Community</h1>
            <p>Choose your activity, Create your event</p>
        </div>

        <div class="row">
            <div class="column">
                <div class="preview-image-left" id="cyclism">
                    <%= image_tag 'cyclism.jpg' %>
                </div>
                <div class="preview-image-left" id="foot">
                    <%= image_tag 'foot.jpg' %>
                </div>
                <div class="preview-image-left">
                    <%= image_tag 'running.jpg' %>
                </div>
            </div>
            <div class="column">
                <div class="preview-image-right">
                    <%= image_tag 'basket.jpg' %>
                </div>
            </div>
        </div>
    </div>
</div>
