.event-container {
  display: flex;
  align-items: inherit;
  margin-bottom: 50px;
  
}

.image-event {
  width: 100%;
  height: 200px;
}

.event-period {
  margin-top :15px;
  text-align: right;
  font-size: 12px;
}

.event-title-div {
text-align: center;
margin-bottom: 15px;
}

.event-title {
  font-size: 55px;
  letter-spacing: 3px;
  color: #2d3142;
}

.button-events-div {
  text-align: center;
}

.button-events {
  width: 130px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #3b2c85;
  border: none;
  box-shadow: #dafdff 0px 0px 10px 1px ;
}

.button-events:hover {
  background-color: #0069d9;
  box-shadow: #ddfdff 0px 0px 10px 3px ;
}


.button-participation-cancel {
  width: 180px;
  padding: 5px;
  margin-top: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #e4380dea;
  border: none;
  box-shadow: #dafdff 0px 0px 3px 1px ;
}

.button-participation-cancel:hover {
  background-color: #ffbf36b8;
  box-shadow: #ddfdff 0px 0px 5px 2px ;
}

.button-space-up {
  padding-top: 15px
}

.event-detail {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  min-width: 150px;
  max-width: 300px;
  border-radius: 15px;
  color: #2d3142;
}

.event-activity {
  margin-bottom: 10px
}

.event-bright-element {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #3b2c85;
}

.event-date-div {
  padding: 30px 80px 50px;
}


.event-date {
  text-align: center;
  background-color: #ebecee;
  color: #2d3142;
  padding: 10px;
  border-radius: 10%;
  box-shadow: #dafdff 0px 0px 5px 0px ;
  font-size: 15px;
  font-weight: bold;
}

.event-at {
  font-size: 10px;
}

.event-day-calendar {
  font-size: 18px;
}

.event-location-board-div {
  width: 100%;
}

.event-location-board {
background-color: #2d3142;
text-align: center;
margin: 0px 150px;
color: #fff;
padding:20px;
min-width: 440px;
border-radius: 15px;
box-shadow: #dafdff 0px 0px 10px 1px ;
}

.event-location {
  margin :20px;
  text-align: center;
  
}

.event-location-name {
  font-weight: bold;
}

#mapid {
  text-align: center;
  

}

.participant-box {
  text-align: center;
  padding: 20px;
  min-width: 150px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 15px;
  color: #3b2c85;
  height: 400px;
  overflow: auto;
}

.participant-person{
  margin: 15px;
}

.event-i-do-div{
margin: 5px 80px
}


.event-i-do-it{
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px 0 5px 0;
}

.participant-name {
  font-size: 15px;
  font-weight: bold;
}



.col-md-3{
  background-color: white;
  padding-top: 20px;
  -moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
  -webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
  -o-box-shadow: 2px 2px 5px 0px #9b9b9b;
  box-shadow: 2px 2px 5px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);


}
