.jumbotron {
  z-index: -1;
  min-height: 92vh;
	background-image: linear-gradient(135deg, rgba(20,19,36,1) 0%, rgba(49,30,60,0.3477766106442577) 0%, rgba(78,120,173,0.4) 90%), image-url('just2train-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #EBECEE;
	display :flex;
	align-content: center;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.extra{
  color: #EBECEE;
  background-color: #3B2C85;
  border: none;
}

.display-4 {
  font-weight: bolder;

}

.sport-fav-div{
  padding-top: 120px;
}
