.jumbotron {
  z-index: -1;
  min-height: 100vh;
	background-image: linear-gradient(135deg, rgba(20,19,36,1) 0%, rgba(49,30,60,0.3477766106442577) 68%, rgba(78,120,173,0.47102591036414565) 100%), image-url('just2train-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #EBECEE;
	display :flex;
	align-content: center;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.btn-primary{
  color: #EBECEE;
  background-color: #FF5223;
  border-radius: 50px;
  width: 100px;
  border: none;
}
