.scroll-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #EBECEE;
  margin-bottom: 50px;

  .events-grid-scroll {
    display: inline-block;
  }
}

.events-element-scroll {

  background-color: white;
  height: 400px;
  padding: 0 10px;
  max-width: 250px !important;
  margin: 0 10px 10px;

  // -moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
  // -webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
  // -o-box-shadow: 2px 2px 5px 0px #9b9b9b;
  // box-shadow: 2px 2px 5px 0px #9b9b9b;
  // filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
}

.picture-activity-scroll {
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 100%;
  height: 200px;
}

.events-content-scroll {

}

.events-period-scroll {
  color: #FF5223
}

.events-title-scroll {
  font-weight: bold;
}

.events-description-scroll {
  font-size: 14px;
}

.events-description-scroll p {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.over-more-down {
  padding-top: 180px
}

.spacing-event-disp {
  padding-bottom: 20px
}