#navbar {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  z-index: 1;
  width: 100%;
  height: 8vh;
  background-color: #3b2c85;

}

#navbar img {
  width: 50px;
}

#navbar ul li a {
  color: #EBECEE;
}
