.header {
    text-align: center;
    padding-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

img {
  width: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 25px 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 14px 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.preview-image-left, .preview-image-right {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ebecee;
  }

  .preview-image-left:hover .overlay, .preview-image-right:hover .overlay {
    opacity: 0.8;
  }

  .text-cards {
    color: #2d31427e;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }