

.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color:  #ebecee;
}

.form-container {
  z-index: 2;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50vh;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #003552;
  -moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
  -webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
  -o-box-shadow: 2px 2px 5px 0px #9b9b9b;
  box-shadow: 2px 2px 5px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
  border-radius: 5px;
}

input{
  width: 300px;
  height: 40px;
  border-radius: none;
  margin-bottom: 15px;
  background-color: #ebecee;
  border: 8px solid #ebecee;
  }

textarea {
    width: 300px;
    height: 80px;
    border-radius: none;
    margin-bottom: 15px;
    background-color: #ebecee;
      border: 8px solid #ebecee;
  }

.actions .btn-primary {
  width: 200px;
  border-radius: 0px
}

input#user_remember_me {
  width: 15px;
  height: 15px;
}

#location_events_attributes_0_activity_id{
  width: 300px;
  margin-bottom: 15px;
}

div.field.two-inline{
  display: inline-flex;
}

// Champs du left
#location_events_attributes_0_nb_participant, #locality, #user_city, #location_events_attributes_0_date {
  width: 140px;
  margin-right: 8px;
}

// Champs du right
#location_events_attributes_0_price, #postal_code, #user_zip, #location_events_attributes_0_time {
  width: 140px;
  margin-left: 8px;
}
